.shortcut {
    height: 52px;
    background-color: #333;
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
}
.shortcut .wrapper {height: 52px;}
.shortcut .wrapper ul{float: right;}
.shortcut .wrapper li{float: left;line-height: 52px;}
.shortcut .wrapper a{font-size: 14px;padding: 0 16px;border-right: 1px solid #666;color: #dcdcdc;}
.shortcut .wrapper a span{display: inline-block;width: 16px;height: 16px;background: url(../images/小图标/手机.png);margin-right: 10px;margin-bottom: -4px;}
.shortcut .wrapper li:last-child a{border: none;}
.header-wrapper{
    height:70px;
    margin: 0 auto;
    width: 1024px;
    margin-top: 30px;
    background-color: #fff;
}
.logo{
    float: left;
    width: 207px;
    height: 70px;
    margin-right: 40px;
    background-color: pink;
}
.logo span{   display: inline-block;width: 207px;height: 70px;background: url(../images/小兔儿鲜.jpg);background-size: 100%;}
.nav {
    float: left;
    height: 70px;
}
.nav ul{float: right;}
.nav li{float: left;line-height: 70px;}
.nav a{font-size: 14px; padding: 0 15px;color: #333;padding-bottom: 7px;}
.nav a:hover{color:#27ba9b;border-bottom: 1px solid #27ba9b;}
.search {
    position: relative;
    margin-left: 34px;
    margin-top: 24px;
    float: left;
    width: 172px;
    height: 30px;
    border-bottom: 1px solid #e7e7e7 ;
}
.search span{
    /*因为是绝对定位，所以可以设置span宽高*/
    position: absolute; display: block;width: 20px;
    left: 2px; top: 0;height: 20px;background: url(../images/小图标/搜素.png);}
.search input{ width: 172px; height: 28px;padding-left: 30px;}
.search input::placeholder{font-size: 14px;color: #cccc;}
.car {
    position: relative;
    margin-left: 15px;
    margin-top: 30px;
    float: left;
    height:23px;
    width:23px;
    background: url(../images/小图标/购物车.png);
}
.car span{width: 13px;height: 13px;background-color: #e26237;border-radius: 8px;
    position: absolute;right:  -5px; top: -6px;font-size: 10px;text-align: center;
    line-height: 12px;color: #fff;}


.footer{
    height: 300px;
    background-color: #333;
    margin: 0 auto;
}
.footer .top{height: 175px;border-bottom: 1px solid #434343;padding-top: 59px;
        padding-left: 135px;}
.footer .top li{height: 58px;width: 150px;float: left;list-style: none;margin-right: 153px;}
.footer .top li:last-child{margin-right: 25px;}
.footer .top li:first-child::before{display: inline-block; content: '';width: 55px;height: 55px;background: url(../images/小图标/盒子.png);vertical-align: middle;}
.footer .top li:nth-child(2)::before{display: inline-block; content: '';width: 55px;height: 55px;background: url(../images/小图标/01运输中、物流.png);vertical-align: middle;}
.footer .top li:last-child::before{display: inline-block; content: '';width: 55px;height: 55px;background: url(../images/小图标/点赞.png);vertical-align: middle;}
.footer .top li span{font-size: 28;color: #fff;}
.footer .buttom{padding-top: 35px; font-size: 14px; color: #999;text-align: center;}
.footer .buttom a{font-size: 14px; color: #999;} 
.footer .buttom p{margin-bottom: 10px;}


